ul {
  list-style: none;
  padding: 10px 40px 10px 10px;
  background-color: #eaeaea;
  display: inline-block;
  float: right;
  margin: 0px;
  height: 48px;
  width: 184px;
}

li {
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  fill: #82c1fd;
  stroke: #82c1fd;
}

