<svg 
  viewBox="0 0 50 50">
  <defs>
    <linearGradient gradientTransform="rotate(20)" id="Gradient01" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" stop-color="#000" />
      <stop offset="50%" stop-color="#fff" />
      <stop offset="100%" stop-color="#000" />
      <animate attributeName="y1" from="-150%" to="150%" dur="800ms" repeatCount="indefinite" />
      <animate attributeName="y2" from="-50%" to="250%" dur="800ms" repeatCount="indefinite" />
    </linearGradient>
  </defs>
  <polygon points="15 2, 15 25, 5 25, 26 48, 45 25, 35 25, 35 2, 21 2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
  </polygon>
  <polygon points="15 2, 15 25, 5 25, 26 48, 45 25, 35 25, 35 2, 21 2" opacity="0.2" stroke-opacity="0.5" stroke="#000" fill="url(#Gradient01)" stroke-linecap="round" stroke-linejoin="round" stroke-width="0px">
  </polygon>
</svg>