<svg 
  viewBox="0 0 50 50">
  
  <circle cx="25" cy="25" r="16" fill="none" stroke-dasharray="35,135" transform="rotate(180 25 25)" stroke-width="8px">
    <animateTransform id="r11" begin="0;r12.end" attributeName="transform" attributeType="XML" type="rotate" from="180 25 25" to="360 25 25" dur="1s" />
    <animateTransform id="r12" begin="r11.end" attributeName="transform" attributeType="XML" type="rotate" from="0 25 25" to="180 25 25" dur="1s" />
  </circle>
  <path d="M 17 46 L 13 37 L 21 33.5" fill="none" transform="rotate(0 25 25)" stroke-width="4px">
    <animateTransform id="r21" begin="0;r22.end" attributeName="transform" attributeType="XML" type="rotate" from="180 25 25" to="360 25 25" dur="1s" />
    <animateTransform id="r22" begin="r21.end" attributeName="transform" attributeType="XML" type="rotate" from="0 25 25" to="180 25 25" dur="1s" />
  </path>
  
  <circle cx="25" cy="25" r="16" fill="none" stroke-dasharray="35,135" transform="rotate(0 25 25)" stroke-width="8px">
    <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 25 25" to="360 25 25" dur="2s" repeatCount="indefinite" />
  </circle>
  <path d="M 17 46 L 13 37 L 21 33.5" fill="none" transform="rotate(0 25 25)" stroke-width="4px" >
    <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 25 25" to="360 25 25" dur="2s" repeatCount="indefinite" />
  </path>
</svg>