main {
  --message-box-height: 100%;
}

main > .message-wrapper > [is="messages-box"] {
  position: relative;
  height: var(--message-box-height);
  width: 100%;
}

main > .message-wrapper {
  position: relative;
  height: var(--message-box-height);
  top: calc(-1 * var(--message-box-height));
  width: 100%;
  pointer-events: none;
}

main > .content-wrapper {
  position: relative;
  overflow-y: auto;
  width: var(--message-box-height);
  height: 100%;
}

main {
	height: 100%;
	width: 100%;
}

main > code {
	display: block;
	word-wrap: break-word;
}