@import "file-viewer.component.json";

:host {
  flex-grow: 1;
  display: flex;
}

main {
  --message-box-height: 100%;
}

main .message-wrapper > [is="messages-box"] {
  position: relative;
  height: var(--message-box-height);
  width: 100%;
}

main .message-wrapper {
  position: relative;
  height: var(--message-box-height);
  top: calc(-1 * var(--message-box-height));
  width: 100%;
  pointer-events: none;
}

main .content-wrapper {
  position: relative;
  overflow-y: auto;
  width: var(--message-box-height);
  height: 100%;
  border: 7px groove #2392d9;
	border-left-style: ridge;
	border-top-style: ridge;
	padding: 10px;
}

main {
	width: 100%;
}

main code {
	display: block;
  font-size: $font-size;
  line-height: $line-height;
}