[is="folder-explorer"] {
	display: flex;
	flex-direction: column;
	--message-box-height: 100%;
	border-left: 5px solid #bfe6ff;
	padding: 0px;
}

[is="folder-explorer"] .message-wrapper {
  position: relative;
  height: var(--message-box-height);
	top: calc(-2 * var(--message-box-height));
  width: 100%;
	pointer-events: none;
}

[is="folder-explorer"] .loader-wrapper {
  position: relative;
  height: var(--message-box-height);
  width: 100%;
}

[is="folder-explorer"] .folder-explorer-wrapper {
  position: relative;
  width: 100%;
	top: calc(-1 * var(--message-box-height));
	display: flex;
	flex-direction: column;
}

[is="folder-explorer"] .message-wrapper > [is="messages-box"] {
  position: relative;
  height: var(--message-box-height);
  width: 100%;
}

[is="folder-explorer"] .message-wrapper > [is="messages-box"] .message{
  padding: 10px 30px 10px 30px;
}

[is="folder-explorer"] .loader-wrapper > [is="l45-loader"]{
  position: relative;
  height: var(--message-box-height);
  width: 100%;
}

[is="folder-explorer"] .toolbar {
	display: flex;
	height: 42px;
	box-sizing: content-box;
	flex-grow: 1;
	min-height: 42px;
	max-height: 42px;
	border-bottom: 2px solid #bfbfbf;
	box-shadow: 0px 7px 17px 0px #fff;
	z-index: 1;
}

[is="folder-explorer"] .toolbar .go-home {
	width: 42px;
	height: 100%;
	font-size: 30px;
	padding: 5px;
}

[is="folder-explorer"] .toolbar .folder-up {
	cursor: pointer;
	flex-grow: 1;
	height: 100%;
	margin-left: 10px;
}

[is="folder-explorer"] .btn {
	background-color: #56b0ea;
	border-width: 2px;
	border-color: #bfe6ff;
	border-style: solid;
	cursor: pointer;
	text-align: center;
}

[is="folder-explorer"] .btn:hover:not(.disabled) {
	background-color: #42a9ec;
	border-color: #9bd9ff;
}

[is="folder-explorer"] .btn:active:not(.disabled) {
	 background-color: #9ccbea;
	border-color: #7bbeea;
}

[is="folder-explorer"] .btn.disabled {
	background-color: #dfdfdf;
	cursor: default;
	color: #b4b4b4;
	border-color: #d2d2d2;
}

[is="folder-explorer"] .toolbar .folder-up > a {
	text-decoration: none;
}

[is=folder-explorer] > div{
	overflow: hidden;
	height: 100%;
	padding: 0px;
}

[is="folder-explorer"] .folder-explorer-viewer {
	display: flex;
	padding: 0px;
	height: 100%;
}

[is=folder-explorer] .folder-explorer-viewer ul{
	list-style-type: none;
	overflow: overlay;
	padding: 0px;
	margin: 0px;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"]{
	padding: 10px;
	cursor: pointer;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 0px auto;
	box-sizing: border-box;
	--folder-explorer-element-padding: 10px;
	--folder-explorer-element-shadow: 0px 5px 15px -8px;
	padding: 0px;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"] .shadow{
	grid-row: 1;
	padding: 0px;
	height: 20px;
	position: relative;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	pointer-events: none;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"] .shadow > div{
	padding: 0px;
	height: 100%;
	top: calc(-100%);
	position: relative;
	box-shadow: var(--folder-explorer-element-shadow) #8a8a8a;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"] .content{
	display: grid;
	grid-template-columns: 38px auto;
	grid-template-rows: auto;
	grid-row: 2;
	padding: var(--folder-explorer-element-padding);
}


[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"] > .content > i{
  grid-column: 1;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"] > .content > span{
	grid-column: 2;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"]:hover{
	background-color: #eaeaea;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"]:active{
	background-color: #9ccbea;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"].folder-explorer-folder{
	color: #0086e5;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"].folder-explorer-folder .shadow > div{
	box-shadow: var(--folder-explorer-element-shadow) #0086e5;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"].folder-explorer-file{
	color: #007841;
}

[is="folder-explorer"] .folder-explorer-viewer [is="folder-explorer-element"].folder-explorer-file .shadow > div{
	box-shadow: var(--folder-explorer-element-shadow) #007841;
}