<div>
  <div class="loader-wrapper">
    <div is="l45-loader"></div>
  </div>
  <div class="folder-explorer-wrapper">
    <div class="toolbar">
      <div class="btn go-home">
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div class="btn folder-up disabled">
        <div class="arrow-up"></div>
        <a id="folder-up-link">
          Cartella superiore
        </a>
      </div>
    </div>
    <div class="folder-explorer-viewer">
      <ul></ul>
    </div>
  </div>
  <div class="message-wrapper">
    <div is="messages-box"></div>
  </div>
</div>