main ul {
  list-style: none;
}

main ul li {
  display: inline-block;
  background-color: #2392d9;
  color: #fff;
  margin: 0px 2px 0px 2px;
  border: solid 4px #bfe6ff;
  border-style: double;
  cursor: pointer;
}

main ul li a{
  display: block;
  padding: 5px;
  text-decoration: none;
}

main ul li:hover {
  background-color: #59aadd;
  border: solid 4px #59aadd;
}